<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{:: #content}, ~{:: title})}">
<head>
    <meta charset="utf-8">
    <title>Contact</title>
</head>
<body>

    <section id="content" class="pt-20">
        <h1>Welcome to contact page</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, dicta facilis, assumenda dolorum obcaecati numquam doloremque delectus ipsum eaque ducimus ab blanditiis. Recusandae unde nihil aperiam quidem officia asperiores reprehenderit consequatur hic id corrupti temporibus cupiditate fugit debitis ab labore, laboriosam doloribus enim quisquam aut sit accusamus pariatur amet nesciunt nam. Vero molestias nemo et quidem consectetur, sit velit. Sequi rerum culpa earum consequuntur omnis eos, architecto possimus cumque rem a quia quaerat soluta voluptate doloribus consequatur ipsa nihil beatae laborum, repellat, aut ad ab blanditiis? Ea iste aut omnis, reprehenderit, architecto voluptatum autem cupiditate corporis repellendus accusamus mollitia temporibus.</p>
    </section>
</body>
</html>