<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{:: #content}, ~{:: title})}">
<head>
    <title>Home Page</title>
</head>
<body>
    <div id="content" class="pt-20">
        <h1>Welcome to home page</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam rerum quis enim eveniet voluptatem necessitatibus provident rem illo repellat quaerat. Est ab vero ex nesciunt neque, libero assumenda ipsum voluptatum praesentium fugit minima alias? Accusamus sequi, cumque maiores fugit sint in, alias a minus eum voluptatibus ad possimus ipsam sapiente.</p>
    </div>
</body>
</html>