<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{:: #content}, ~{:: title})}">
<head>
    <meta charset="utf-8">
    <title>Services</title>
</head>
<body>
    <div id="content" class="pt-20">
        <h1>Welcome to service page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non deserunt ex rem harum quisquam cupiditate incidunt praesentium et dolorum repellat, enim nam eos nulla at! Cupiditate sunt eum autem, corrupti error ad! Labore sed tenetur suscipit harum quod facilis aliquid eaque autem repellendus excepturi, porro non quam, perspiciatis esse similique atque dignissimos quia eius reiciendis sapiente repellat itaque placeat ut. Nostrum nobis alias sunt provident eveniet qui eius quis neque minus expedita. Modi eos libero sed dolor et, aliquam voluptatum!</p>
    </div>
</body>
</html>