<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{:: #content}, ~{:: title})}">

<head>
    <meta charset="utf-8">
    <title>Signup</title>
</head>

<body>

    <section id="content" class="pt-20">

        <div class="grid grid-cols-12 ">
            <div class="col-span-4 md:col-span-2 lg:col-span-3 xl:col-span-4"></div>
            <div class="col-span-12 md:col-span-8 lg:col-span-6 xl:col-span-4">
                <div
                    class="block p-6 border-t-[10px] border-blue-700 bg-white rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

                    <div th:replace="~{alert :: messageBox}"></div>

                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-center">
                        Register Here
                    </h5>
                    <form th:action="@{'/do_signup'}" method="post" class="mt-5" th:object="${userForm}">

                        <!-- name field -->
                        <div class="mb-5">
                            <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                Your name
                            </label>
                            <input type="text" id="name" name="name" th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : ''"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="John Doe"
                                th:field="*{name}" required 
                            />
                            <div class="invalid-feedback text-red-800" th:each="error : ${#fields.errors('name')}" th:text="${error}"></div>
                       </div>

                        <!-- email field -->
                        <div class="mb-5">
                            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                Your email
                            </label>
                            <input type="email" id="email" name="email" th:classappend="${#fields.hasErrors('email')} ? 'is-invalid' : ''"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="name@flowbite.com" 

                                th:field="*{email}" required
                            />
                            <div class="invalid-feedback text-red-800" th:each="error : ${#fields.errors('email')}" th:text="${error}"></div>
                        </div>

                        <!-- password field -->
                        <div class="mb-5">
                            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                Your password
                            </label>
                            <input type="password" id="password" name="password" th:classappend="${#fields.hasErrors('password')} ? 'is-invalid' : ''"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                th:field="*{password}" required 
                            />
                            <div class="invalid-feedback text-red-800" th:each="error : ${#fields.errors('password')}" th:text="${error}"></div>
                        </div>

                        <!-- phone field -->
                        <div class="mb-5">
                            <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                Your phone number
                            </label>
                            <input type="text" id="phone" name="phone" th:classappend="${#fields.hasErrors('phone')} ? 'is-invalid' : ''"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                th:field="*{phone}" required 
                            />
                            <div class="invalid-feedback text-red-800" th:each="error : ${#fields.errors('phone')}" th:text="${error}"></div>
                        </div>

                        <!-- about textarea -->
                        <div class="mb-5">

                            <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                Write something about yourself
                            </label>
                            <textarea id="message" rows="4" name="about"
                                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="Write here..."
                                th:field="*{about}" ></textarea>
                        </div>

                        <div class="mb-5 flex justify-center gap-2">
                            <button type="submit"
                                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                Signup
                            </button>
                            <button type="reset"
                                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                Reset
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>

</html>